/* Define the styles for the scrollbar track */
body::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Define the styles for the scrollbar handle or thumb */
  body::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 8px; /* Set the border radius to round the corners */
  }
  
  /* Define the styles for the scrollbar track on hover */
  body::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the background color of the scrollbar track */
  }
  
  /* Define the styles for the scrollbar handle or thumb on hover */
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set the color of the scrollbar thumb on hover */
  }
  